h2.page-header Trouvez des #{title} dans votre ville
h4 Ou cherchez des 
    a(href="http://localhost:3001/concessionnaires/departements.html") #{title} par département
br
div.row

    div.span8
        ul
            - for (var i = 0, l = (count / 2); i < l; i++)
                li
                    a(href="http://localhost:3001/concessionnaires/ville/"+items[i].city+".html")
                        | #{items[i].city.toUpperCase()} 
                    | #{items[i].count} #{title.toLowerCase()} trouvés

    div.span8
        ul
            - for (; i < count; i++)
                li
                    a(href="http://localhost:3001/concessionnaires/ville/"+items[i].city+".html")
                        | #{items[i].city.toUpperCase()} 
                    | #{items[i].count} #{title.toLowerCase()} trouvés
