div.row(style="padding-top: 20px")
    div.span7
        h3.page-header Recherche par département
        p Selectionnez un département sur la carte pour consulter la liste des #{title.toLowerCase()}.
        h1#map-message
        h3.page-header Les départements les plus recherchés
        div.row(style="position:absolute")
            
            div.span4
                ul
                    - var count = items.length;
                    - for (var i = 0, l = count/2; i < l; i++)
                        li: a(href="/concessionnaires/departement/"+items[i].state+".html") (#{items[i].statecode}) #{items[i].state}
            div.span4
                ul
                    - for (; i < count; i++)
                        li: a(href="/concessionnaires/departement/"+items[i].state+".html") (#{items[i].statecode}) #{items[i].state}

    div.span9
        div#map-canvas
