div.row(style="padding-top: 20px")
    div.span8
        h2.page-header Selectionnez un département
        p Selectionnez un département sur la carte pour consulter la liste des #{title.toLowerCase()}.
        h1#map-message(style="min-height: 40px; font-size: 36px; padding: 30px 0; text-align: center;")
        h2.page-header Les départements les plus visités
        div.row
            div.span4
                ul
                    - var count = items.length;
                    - for (var i = 0, l = count/2; i < l; i++)
                        li: a(href="/concessionnaires/departement/"+items[i].state+".html") (#{items[i].statecode}) #{items[i].state}
            div.span4
                ul
                    - for (; i < count; i++)
                        li: a(href="/concessionnaires/departement/"+items[i].state+".html") (#{items[i].statecode}) #{items[i].state}

    div.span8
        div#map-canvas
