!!!
html
    head
        title= title

        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(charset="utf-8", src='http://maps.googleapis.com/maps/api/js?sensor=false')
        script(charset="utf-8", src='/javascripts/lib/raphael.js')
        script(charset="utf-8", src='/javascripts/lib/jquery.js')
        script(charset="utf-8", src='/javascripts/lib/modal.js')

        script(charset="utf-8", src='/javascripts/googlemap.js')
        script(charset="utf-8", src='/javascripts/map.js')
        script(charset="utf-8", src='/javascripts/index.js')

        - if (items)
            - var coords = []
            - for (var i = 0, l = items.length; i < l; i++)
                - coords.push('{lat: ' + items[i].get('lat') + ', lng: ' + items[i].get('lng') + '}')

            script
                var coords = [#{coords.join(',')}];

        // script(charset="utf-8", src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        // script(charset="utf-8", src='http://cloud.github.com/downloads/SteveSanderson/knockout/jquery.tmpl.min.js')
        // script(charset="utf-8", src='http://cloud.github.com/downloads/SteveSanderson/knockout/knockout-1.2.1.js')
        // script(charset="utf-8", src='http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js')
        // script(charset="utf-8", src='http://twitter.github.com/bootstrap/1.4.0/bootstrap-buttons.js')
        // script(charset="utf-8", src='http://twitter.github.com/bootstrap/1.4.0/bootstrap-twipsy.js')
        // script(charset="utf-8", src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-tabs.js")
        // script(charset="utf-8", src="/javascripts/index.js")

    body(onload="googlemap.initialize()")
  
        div.topbar
            div.topbar-inner
                div.container
                    a.brand(href='/') #{title}
                    ul.nav

                    ul.nav.secondary-nav
                        li: span(style="display: block; padding: 10px 10px 11px;") recherche de #{title.toLowerCase()} par: 
                        li: a(href="/concessionnaires/departements.html") DEPARTEMENT
                        li: a(href="/concessionnaires/villes.html") VILLE / CODE POSTAL
                        li: a(href="/") CARTE

        div.content
            div.container.page
                // h1 #{title}
                // h1= title
                header
                    h2 CONCESSIONNAIRES AUTOMOBILE EN FRANCE
                    h4 Sur CONCESSIONNAIRES-AUTOMOBILE.FR trouvez les #{title.toLowerCase()} près de chez vous !

                    include form

                != body

            footer.footer
                div.container
                    p Powered by 
                        a(href='http://revolunet.com/') Revolunet

        include analytics