div.row
    div.span16
        include pagination


    div.span8
        - var item, letter;
        - for (var i = 0; i < count; i++)
            - item = items[i]
            div.well.item
                div.row

                    div.span2
                        div.media-grid
                            a(href="#", style="margin-bottom: 0;")
                                img.thumbnail(src="http://placehold.it/90x90", alt="", height="90px", width="90px")

                    - letter = String.fromCharCode("A".charCodeAt(0) + i)
                    - letter = 'http://maps.google.com/mapfiles/marker'+ letter +'.png'
                    div.span5
                        address
                            h3: a(href="#") #{item.name}
                            div.row
                                div.span3
                                    div.address(style="background: url('#{letter}') no-repeat scroll 0 0 transparent;")
                                        div #{item.address}
                                        div
                                            a(href="#") #{item.city} 
                                            |(
                                            a(href="#") #{item.citycode}
                                            | &nbsp;)
                                div.span4.tel
                                    a.btn.success(onclick="showNumber('#{item.get('id')}', '#{item.get('name')}')") AFFICHER LE NUMERO
                                    // abbr Tel: 
                                    // #{item.get('tel')}

    div.span8
        div#googlemap-canvas

    div.span16
        include pagination


div#number-modal.modal.fade.hide
    div.modal-header
        a.close ×
        h3 Téléphone

    div.modal-body
        strong: a 08 99 34 56 32

    div.modal-footer
        div.row
            div.span6
                div.info Ce numero en 08 acheminera votre appel vers la mutuelle. Ce numéro est encore actif pendant 40s
            div.span3
                a.btn.secondary Fermer
